<!DOCTYPE html>
{% extends "first_app/start.html" %}
{% block body_block %}
{% load my_extras %}
<h1>Confessions:</h1>
<div class="container text-white px-12">
    {% if object_list %}
    <ol class="table">
        {% for conf in object_list %}
        <li class="list-item my-8">
            <h1 class = "text-2xl">{{conf.text}}
            {% if conf.visible == 0 %}
            <a class = "text-xl px-4 py text-white bg-green-500 rounded-full" href="{% url 'first_app:okok' conf.pk %}">ADD</a>
            {%endif%}
            </h1>
        </li>
        {%endfor%}
    </ol>
		{%else%}
    <h1>NO CONFESSIONS</h1>
    {%endif%}
</div>
{%endblock%}
